---
import { Image } from "astro:assets";
import { SquareArrowOutUpRight } from "lucide-react";
import logo from "../assets/app-icon.png";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";
import ThemeIcon from "./ThemeIcon.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { translatePath } = useTranslatedPath(lang);
---

<header
  class="fixed top-0 right-0 left-0 z-50 bg-gradient-to-b from-white/90 via-white/60 to-white/0 shadow-sm backdrop-blur-sm dark:from-slate-900/90 dark:via-slate-900/60 dark:to-slate-900/0"
>
  <div
    class="container mx-auto px-4 flex justify-between items-center h-16 md:h-20"
  >
    <a
      href={translatePath("/")}
      class="flex items-center gap-2"
      data-astro-prefetch
    >
      <Image
        src={logo}
        alt="Logo"
        width={32}
        height={32}
        class="h-8 w-8"
        loading="eager"
      />
      <span class="font-bold text-xl text-slate-900 dark:text-white"
        >HardwareVisualizer</span
      >
    </a>

    <nav class="flex gap-6 items-center">
      <a
        href={translatePath("/#download")}
        class="font-medium transition-colors hover:text-cyan-500 text-slate-600 dark:text-slate-300 hidden md:block"
        data-astro-prefetch>{t("nav.Download")}</a
      >
      <a
        href={translatePath("/faq")}
        class="font-medium transition-colors hover:text-cyan-500 text-slate-600 dark:text-slate-300 hidden md:block"
        data-astro-prefetch>{t("nav.faq")}</a
      >
      <a
        href="https://github.com/shm11C3/HardwareVisualizer"
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium transition-colors hover:text-cyan-500 text-slate-600 dark:text-slate-300 hidden md:flex items-center"
      >
        GitHub
        <SquareArrowOutUpRight size={16} className="ml-1" />
      </a>
      <LanguagePicker />
      <ThemeIcon id="themeIconDesktop" />
    </nav>
  </div>
</header>
